#fridge {
  background: url(../../assets/fridge_stylized.png) no-repeat;
  background-size: 100%;
  height: max-content;
  width: 50vw;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.meals {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  width: 100%;
  min-height: 51px;
}

.meals div {
  margin-top: 20px;
  background: #2e9bd6;
  color: white;
  margin-left: 10px;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.meals div:hover {
  background-color: #d62e2e !important;
}

.fridges__presets > div:hover {
  background-color: #893fff !important;
}

.fridge {
  position: relative;
  background-color: #c93fff !important;
}

.remove-button {
  background-color: #d62e2e !important;
  width: 30px;
  height: 100%;
  top: -20px;
  right: 0;
  position: absolute;
  box-sizing: border-box;
  display: none;
  justify-content: center;
  align-items: center;
}

.remove-button:hover {
  background-color: #d62e2e !important;
  border: 4px solid white;
}

.meals__cleaner {
  background-color: #d62e2e !important;
}

.add-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.add-meals__input {
  padding: 10px;
  font-size: 18px;
  border: 0px;
  outline: 0;
  border-bottom: 2px solid #3fbcff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.add-meals__submit,
.add-meals__search {
  cursor: pointer;
  outline: none;
  padding: 10px;
  border: 0;
  font-size: 18px;
  margin-left: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.add-meals__search {
  color: white;
  background: #3fbd20;
}

nav,
.add-meals__submit {
  background: #3fbcff;
  color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

nav .title {
  margin-left: 20px;
}

.item-text {
  margin: 0;
}

.recipe__presets {
  display: none;
}

.recipe__presets > div {
  background-color: #3fbd20 !important;
}

.recipe__presets > div:hover {
  background-color: #55d435 !important;
}

.recipe-info-hide {
  display: none;
}

.recipes-toggler {
  padding: 10px 40px;
  background-color: #4b9b23;
  color: white;
  cursor: pointer;
  display: none;
}
.recipes-toggler__text {
  margin: 0px;
}

@media (max-width: 800px) {
  #fridge {
    width: auto;
  }

  .add-meals {
    width: 90%;
    justify-content: space-evenly;
  }

  .add-meals * {
    margin: 0px;
  }

  .add-meals__input {
    width: 100%;
  }

  .add-meals__search,
  .add-meals__submit {
    width: 45%;
  }

  .remove-button {
    display: flex;
  }

  .recipe-info {
    margin-left: 0px !important;
    display: flex;
    flex-direction: column;
  }

  .recipe-wrap {
    justify-content: space-evenly !important;
  }

  .recipe-wrap > p {
    margin-left: 0px !important;
  }

  .recipe-ingi-wrapper,
  .recipe-info-hide-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  #fridge {
    min-width: 300px;
  }

  .recipe-info-ingi {
    display: none;
  }

  .recipe-ingi-count,
  .recipe-info-hide {
    cursor: pointer;
    border: 1px solid #3fbcff;
    padding: 2px 20px;
    font-weight: bold;
    color: #3fbcff;
    font-size: 20px;
    transition: all 0.1s ease-in-out;
  }

  .recipe-info-hide {
    color: white;
    background-color: #3fbcff;
  }
}
