.meals {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  width: 100%;
  min-height: 51px;
}

.meals div {
  margin-top: 20px;
  background: rgb(46, 155, 214);
  color: white;
  margin-left: 10px;
  padding: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.meals div:hover {
  background-color: rgb(214, 46, 46) !important;
}

.fridges__presets div {
  background-color: rgb(201, 63, 255) !important;
}

.fridges__presets div:hover {
  background-color: rgb(137, 63, 255) !important;
}

.meals__cleaner {
  background-color: rgb(214, 46, 46) !important;
}
