.recipe {
  margin-top: 10px;
  margin-bottom: 30px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

/* Recipe title and content */

.recipe__title {
  border: 1px solid black;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.recipe-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Content items */

.recipe__image {
  height: 300px;
}

/* Recipe info */

.recipe-info {
  margin-left: 20px;
}

/* Texts */

.recipe-info > .recipe-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recipe-info > .recipe-wrap p,
.recipe-health {
  cursor: context-menu;
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  text-align: center;
  min-width: 150px;
  padding: 5px;
  background-color: #99dbff;
}

.recipe-health {
  color: #339fda;
  background-color: #fff;
}

/* Ingridients */

.recipe-info > .recipe-info-ingi {
  list-style: none;
  padding-left: 0px;
}

.recipe-info > .recipe-info-ingi > li {
  padding: 0px;
  margin: 10px;
}

.recipe-info > .recipe-info-ingi > li:before {
  content: "►";
  display: block;
  float: left;
  width: 2em;
  color: #3fbcff;
}

/* Links */

.recipe-info > .recipe-link {
  display: flex;
  justify-content: space-around;
}

.recipe-info > .recipe-link a {
  border: 1px solid #3fbcff;
  padding: 2px 20px;
  font-weight: bold;
  color: #3fbcff;
  text-decoration: none;
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

.recipe-info > .recipe-link a:hover {
  background-color: #3fbcff;
  color: white;
}

.recipe-link__save-recipe {
  border-radius: 50%;
  border: 0;
  height: 30px;
  width: 30px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  outline: 0;
  font-size: 20px;
  font-weight: bold;
  background-color: #55ed5a;
  color: #fff;
  transition: all 0.2s cubic-bezier(0.86, 0, 0.07, 1);
}

.recipe-link__save-recipe:hover {
  background-color: #40d345;
}

@media (max-width: 800px) {
  .recipe-info > .recipe-wrap p {
    min-width: 250px;
  }

  .recipe__image {
    margin-bottom: 15px;
  }
}
